{% extends "base.html" %}
{% block short_title %}Spring 1901{% endblock %}
{% block long_title %}Spring 1901{% endblock %}
{% block banner %}<figure class="mb-4"><img class="img-fluid rounded" src="../static/turn/{{ turn }}.png" alt="..." /></figure>{% endblock %}
{% block content %}
<section class="mb-5">
    <p class="fs-5 mb-4">At the start of the game, each Great Power controls three supply centers, with the exception of Russia, which controls four. The 12 remaining supply centers aren’t occupied at the start of the game
    </p>
</section>
{% endblock %}