{% extends "page.html" %}
{% block content %}
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">Campaign: Clean Slate</h1>
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded" src="static/diplomacy_cover.jpeg" alt="..." /></figure>
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4">Diplomacy is a game of negotiations, alliances, promises kept, and promises broken. In order to survive, a player needs help from others. In order to win the game, a player must eventually stand alone. Knowing whom to trust, when to trust them, what to promise, and when to promise it is the heart of the game. Remember, you are a diplomat first, a commander second.</p>
                            <p class="fs-5 mb-4">At the beginning of each turn, players meet together to discuss their plans and suggest strategies. Alliances between players are openly or secretly made, and orders are (hopefully) coordinated. Immediately following this period of “diplomacy,” each player secretly writes an order for each of his or her units. When all players have written their orders, the orders are simultaneously revealed, and then the orders are all resolved. Some units are moved, some have to retreat, and some are removed. Resolving orders is the most challenging part of the rules and requires complete knowledge of the rules.</p>
                            <p class="fs-5 mb-4">Each turn represents six months of time. The first turn is called a Spring turn and the next a Fall turn. After each Fall turn, each Great Power must reconcile the number of units it controls with the number of supply centers it controls. At this time some units are removed and new ones are built.</p>
                            <p class="fs-5 mb-4">As soon as one Great Power controls 18 supply centers, it’s considered to have gained control of Europe. The player representing that Great Power is the winner. However, players can end the game by agreement before a winner is determined. In this case, all players who still have pieces on the game board share equally in a draw.</p>
                        </section>
                    </article>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">Current Campaign</div>
                            <div class="card-body">
                                    Austria (Red): {{players['Austria']}}<br>
                                    England (Dark Blue): {{players['England']}}<br>
                                    France (Light Blue): {{players['France']}}<br>
                                    Germany (Black): {{players['Germany']}}<br>
                                    Italy (Green): {{players['Italy']}}<br>
                                    Russia (White): {{players['Russia']}}<br>
                                    Turkey (Yellow): {{players['Turkey']}}<br>
                            </div>
                        </div>
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Turn History</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        {% for key, value in turns.items() %}
                                        <li><a href="/turn/{{ key }}">{{ key.capitalize().replace("_", " ") }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
{% endblock %}