{% extends "base.html" %}
{% block short_title %}Orders{% endblock %}
{% block long_title %}Submit Orders{% endblock %}
{% block banner %}<figure class="mb-4"><img class="img-fluid rounded" src="static/orders_cover.jpg" alt="..." /></figure>{% endblock %}
{% block content %}
<section class="mb-5">
    <form id="contactForm">
        <div class="mb-3">
            <label class="form-label" for="name">Great Power</label>
            <input class="form-control" id="name" type="text" placeholder="Austria" />
        </div>
        <div class="mb-3">
            <label class="form-label" for="turn">Turn</label>
            <input class="form-control" id="turn" type="text" placeholder="Spring 1901" />
        </div>
        <div class="mb-3">
            <label class="form-label" for="emailAddress">Email Address</label>
            <input class="form-control" id="emailAddress" type="email" placeholder="Email Address" />
        </div>
        <div class="mb-3">
            <label class="form-label" for="message">Orders</label>
            <textarea class="form-control" id="message" type="text" placeholder="A Vienna-Trieste" style="height: 10rem;">
            </textarea>
        </div>
        <div class="d-grid">
            <button class="btn btn-primary btn-lg" type="submit">Submit</button>
        </div>
    </form>
</section>
{% endblock %}